!
! Last configuration change at 17:22:06 UTC Thu Sep 8 2022
!
version 15.9
service timestamps debug datetime msec
service timestamps log datetime msec
no service password-encryption
!
hostname edge-1
!
boot-start-marker
boot-end-marker
!
!
enable secret 4 tnhtc92DXBhelxjYk8LWJrPV36S2i4ntXrpb4RFmfqY
enable password cisco
!
no aaa new-model
!
!
!
mmi polling-interval 60
no mmi auto-configure
no mmi pvc
mmi snmp-timeout 180
!
!
!
!
!
!
!
!
!
!
!
no ip domain lookup
ip domain name virl.info
ip cef
no ipv6 cef
!
multilink bundle-name authenticated
!
!
!
!
username cisco privilege 15 secret 9 $9$N7aRodw43LgdBt$4JeCjXGYmGkn9waA4Ib2tlxqtOIlJRs5q99ZCPYb8Ag
!
redundancy
!
no cdp run
!
! 
!
!
!
!
!
!
!
!
!
!
!
!
interface Loopback0
 description to 
 no ip address
 shutdown
!
interface GigabitEthernet0/0
 description to GigabitEthernet3/3.sw-1
 ip address 192.168.11.1 255.255.255.252
 ip ospf 100 area 0
 duplex auto
 speed auto
 media-type rj45
!
interface GigabitEthernet0/1
 description to GigabitEthernet2.isp-0
 ip address 192.1.11.1 255.255.255.252
 duplex auto
 speed auto
 media-type rj45
!
interface GigabitEthernet0/2
 description to 
 no ip address
 shutdown
 duplex auto
 speed auto
 media-type rj45
!
interface GigabitEthernet0/3
 description to 
 no ip address
 shutdown
 duplex auto
 speed auto
 media-type rj45
!
interface GigabitEthernet0/4
 description to 
 no ip address
 shutdown
 duplex auto
 speed auto
 media-type rj45
!
interface GigabitEthernet0/5
 description to port2.mgmt-sw1
 ip address dhcp
 duplex auto
 speed auto
 media-type rj45
!
router ospf {{ ospf['process'] }}
 router-id {{ ospf['rid'] }}
 redistribute bgp 100 subnets
 passive-interface default
 no passive-interface GigabitEthernet0/0
!
router bgp {{ bgp['asn'] }}
 bgp log-neighbor-changes
 redistribute ospf 100
{% for neighbor, details in bgp['neighbors'].items() %}
 neighbor {{ neighbor }} remote-as {{ details['remote_asn'] }}
{% endfor %}
!
ip forward-protocol nd
!
!
no ip http server
no ip http secure-server
ip ssh server algorithm authentication password
!
ipv6 ioam timestamp
!
!
!
control-plane
!
banner exec ^C
**************************************************************************
* IOSv is strictly limited to use for evaluation, demonstration and IOS  *
* education. IOSv is provided as-is and is not supported by Cisco's      *
* Technical Advisory Center. Any use or disclosure, in whole or in part, *
* of the IOSv Software or Documentation to any third party for any       *
* purposes is expressly prohibited except as otherwise authorized by     *
* Cisco in writing.                                                      *
**************************************************************************^C
banner incoming ^C
**************************************************************************
* IOSv is strictly limited to use for evaluation, demonstration and IOS  *
* education. IOSv is provided as-is and is not supported by Cisco's      *
* Technical Advisory Center. Any use or disclosure, in whole or in part, *
* of the IOSv Software or Documentation to any third party for any       *
* purposes is expressly prohibited except as otherwise authorized by     *
* Cisco in writing.                                                      *
**************************************************************************^C
banner login ^C
**************************************************************************
* IOSv is strictly limited to use for evaluation, demonstration and IOS  *
* education. IOSv is provided as-is and is not supported by Cisco's      *
* Technical Advisory Center. Any use or disclosure, in whole or in part, *
* of the IOSv Software or Documentation to any third party for any       *
* purposes is expressly prohibited except as otherwise authorized by     *
* Cisco in writing.                                                      *
**************************************************************************^C
!
line con 0
 password cisco
line aux 0
line vty 0 4
 exec-timeout 720 0
 password cisco
 login local
 transport input telnet ssh
!
no scheduler allocate
!
end